<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ManagerFolder" value="C:\CodeGenerator\Manager\" />
    <add key="BusinessEntityFolder" value="C:\CodeGenerator\Entity\" />
    <add key="ProceduresFolder" value="C:\CodeGenerator\Proc\" />
    <add key="ReadByIDDatatype" value="int" />
    <add key="spNameInitial" value="sp_" />
    <add key="bannerPath" value="C:\WFM\DEVCODES\MNVCodeGenerator\CodeGenerator\BANNER\banner.txt" />
    <add key="SqlClient.dll" value="GAIT.Data"/>
    <add key="SqlClient.dll2" value="GAIT.Data"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>